@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "";
}
<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="~/css/font-awesome.css" rel="stylesheet">
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,300,300i,400,400i,500,500i,600,600i,700,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
<div class="top_header" id="home">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav_top_fx_w3ls_agileinfo">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo-w3layouts-agileits">
                    <h1> <a class="navbar-brand" href="index.html"><i class="fa fa-clone" aria-hidden="true"></i> Conceit <span class="desc">For your Business</span></a></h1>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav_right_top">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="request" href="contact.html">Send Request</a></li>

                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li class="active"><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="portfolio.html">Projects</a></li>
                                <li><a href="404.html">Services</a></li>


                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div class="banner_inner_con">
</div>

<div class="banner_bottom">
    <div class="container">
        <h3 class="tittle-w3ls">Projects</h3>
        <div class="inner_sec_info_wthree_agile">
            <!--/projects-->
            <ul class="portfolio-categ filter">
                <li class="port-filter all active">
                    <a href="#">All</a>
                </li>
                <li class="cat-item-1">
                    <a href="#" title="Category 1">Category 1</a>
                </li>
                <li class="cat-item-2">
                    <a href="#" title="Category 2">Category 2</a>
                </li>
                <li class="cat-item-3">
                    <a href="#" title="Category 3">Category 3</a>
                </li>
                <li class="cat-item-4">
                    <a href="#" title="Category 4">Category 4</a>
                </li>
            </ul>


            <ul class="portfolio-area">

                <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
                    <div>
                        <span class="image-block block2 img-hover">
                            <a class="image-zoom" href="https://aviopro.net/" rel="prettyPhoto[gallery]">

                                <img src="~/images/g1.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Add Some Description</p>
                                </div>
                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
                    <div>
                        <span class="image-block block2">
                            <a class="image-zoom" href="http://zaxmon.com/" rel="prettyPhoto[gallery]">

                                <img src="~/images/g2.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Zaxmon is providing chemical for Industrial/Aviation chemical in Gulf countries</p>
                                </div>
                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2">
                            <a class="image-zoom" href="~/images/g3.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/images/g3.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Add Some Description</p>
                                </div>
                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
                    <div>
                        <span class="image-block block2">
                            <a class="image-zoom" href="~/images/g4.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/images/g4.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Add Some Description</p>
                                </div>
                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                    <div>
                        <span class="image-block block2">
                            <a class="image-zoom" href="~/images/g5.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/images/g5.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Add Some Description</p>
                                </div>
                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
                    <div>
                        <span class="image-block block2">
                            <a class="image-zoom" href="~/images/g6.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/images/g6.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Add Some Description</p>
                                </div>
                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2">
                            <a class="image-zoom" href="~/images/g7.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/images/g7.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Add Some Description</p>
                                </div>
                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2">
                            <a class="image-zoom" href="~/images/g8.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/images/g8.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Add Some Description</p>
                                </div>

                            </a>
                        </span>
                    </div>
                </li>
                <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
                    <div>
                        <span class="image-block block2">
                            <a class="image-zoom" href="~/images/g1.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/images/g1.jpg" class="img-responsive" alt="Conceit">
                                <div class="port-info">
                                    <h5>View Project</h5>
                                    <p>Add Some Description</p>
                                </div>

                            </a>
                        </span>
                    </div>
                </li>


                <div class="clearfix"></div>
            </ul>
            <!--end portfolio-area -->

        </div>

    </div>
    <!--//projects-->

</div>